[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/svmgit
[access "refs/for/refs/*"]
	read = group user/svmgit
	push = group user/svmgit
	label-Code-Review = -2..+2 group user/svmgit
	label-Verified = -1..+1 group user/svmgit
	rebase = group user/svmgit
	removeReviewer = group user/svmgit
	submit = group user/svmgit
[access "refs/heads/*"]
	read = group user/svmgit
	create = group user/svmgit
	push = +force group user/svmgit
	pushMerge = group user/svmgit
[access "refs/tags/*"]
	push = +force group user/svmgit
	pushTag = group user/svmgit
	pushSignedTag = group user/svmgit
